<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <!--<th>Desc</th>-->
      <th>Event date</th>
      <th>Event time</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Registration start</th>
      <th>Fee adult</th>
      <th>Fee child</th>
      <th>Fee other</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <!--<td><#%= event.desc %></td>-->
        <td><%= event.event_date %></td>
        <td><%= event.event_time %></td>
        <td><%= event.street %></td>
        <td><%= event.city %></td>
        <td><%= event.state %></td>
        <td><%= event.zip %></td>
        <td><%= event.registration_start %></td>
        <td><%= event.fee_adult %></td>
        <td><%= event.fee_child %></td>
        <td><%= event.fee_other %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--<#%= link_to 'New Event', new_org_view_event_path %>-->
